/*body {
     background-image: #map;
     background-size: 100em;
} */

* {
    margin: 0;
    padding: 0;
    font-family: arial;
}

#main {
    background-color: whitesmoke;
    background-position: auto;
    width: 50%;
    height: 80%;
    margin: 0 auto;
    padding: 5em;
    border-radius: 15px;
    position: relative;
    
}

#button1 , #button2 {
    display: inline-block;
}

#nav1{
    text-align: center;
}

h1 {
    text-align: center;
}

#comForm{
    text-align: center;
} 

#review {
	height: 300px;
	width: 300px;
	overflow: scroll;
} 

/* #userReview {
	width: 450px; 
} */

img, #business {
	height: 300px;
	width: 300px;
	display: inline-block;
}

/*img {
	width: 50%;
	height: 50%;
} */


#map {
	height: 100%;
	width: 100%;
	position:absolute; 
    top: 0; 
    left: 0; 
    z-index: 0; /* Set z-index to 0 as it will be on a layer below the contact form */
}